HOST=0.0.0.0
PORT=8000
MODEL_NAME=audeering/wav2vec2-large-robust-24-ft-age-gender
MAX_AUDIO_SIZE_MB=10.0
MIN_AUDIO_DURATION_SECONDS=0.5
MAX_AUDIO_DURATION_SECONDS=30.0
GENDER_CONFIDENCE_THRESHOLD=0.5
AGE_CONFIDENCE_THRESHOLD=0.5
MIN_RMS=0.01
MAX_CLIPPING_RATIO=0.05
MAX_SILENCE_RATIO=0.70
MIN_ESTIMATED_SNR=5.0
FFMPEG_TIMEOUT_SECONDS=10.0
